# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie_temperaturas = pd.Series(data=anomalias, index=anos)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
serie_temperaturas = pd.Series(data=anomalias, index=anos)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

temperaturas = pd.Series(dic_temperaturas)
print(temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr, columns=['Coluna 1', 'Coluna 2', 'Coluna 3'])
print(df)

      Coluna 1    Coluna 2    Coluna 3
0   106.629867  100.016899   95.277034
1   113.147551   80.047055   99.315853
2    95.780304  113.708947   98.436165
3   109.276429  106.906236   99.772673
4   106.963242   82.444960   99.796424
5   105.495698   99.561901   88.442437
6    83.526094   87.494693  102.035118
7   107.499492  101.101605   86.150558
8   101.811033   89.593468  111.437107
9    87.386651  108.809815   98.139272
10   96.931054  106.666485   94.242244
11  109.080556  114.246522  124.313070
12   99.544469  109.817278  100.618753
13  102.235983   91.058378  106.812189
14   98.561228  102.097346  113.828750
15  101.453812   95.376650   93.591170
16   81.234292  105.530144   91.846456
17  108.838221   99.261125  108.963802
18   98.633007  103.450772  105.050236
19   84.707318   95.248543  101.236267

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

df.index = range(1, 21)

print(df)

            x1          x2          x3
1   107.084699   91.934374  101.248938
2    95.766579   98.958654   94.350176
3    86.469067  112.220369  101.603306
4    83.729327  106.415357  108.089137
5   117.730215   76.108240  101.446542
6   108.473719  114.247549  107.609818
7    95.395828  104.270540  100.399431
8    98.793484   90.964998   94.750805
9   114.205382  108.571961  107.163833
10   90.277846   93.860534   77.359062
11   92.052343   93.754251   94.417592
12  108.112165   88.759023  111.689874
13   95.590055  102.499825   84.815572
14   91.382505  104.109139   91.330438
15   90.071726  103.773434   89.778469
16   98.525081  103.998976   81.428233
17   98.216220  112.399005  103.767285
18  110.759076   97.064155  100.308800
19  102.275726   88.313540   87.200169
20   89.371853   95.857006   98.949834

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
df['media'] = df.mean(axis=1)
print(df)

      Coluna 1    Coluna 2    Coluna 3       media
0   106.629867  100.016899   95.277034  100.641267
1   113.147551   80.047055   99.315853   97.503486
2    95.780304  113.708947   98.436165  102.641805
3   109.276429  106.906236   99.772673  105.318446
4   106.963242   82.444960   99.796424   96.401542
5   105.495698   99.561901   88.442437   97.833345
6    83.526094   87.494693  102.035118   91.018635
7   107.499492  101.101605   86.150558   98.250552
8   101.811033   89.593468  111.437107  100.947203
9    87.386651  108.809815   98.139272   98.111913
10   96.931054  106.666485   94.242244   99.279928
11  109.080556  114.246522  124.313070  115.880050
12   99.544469  109.817278  100.618753  103.326833
13  102.235983   91.058378  106.812189  100.035516
14   98.561228  102.097346  113.828750  104.829108
15  101.453812   95.376650   93.591170   96.807211
16   81.234292  105.530144   91.846456   92.870297
17  108.838221   99.261125  108.963802  105.687716
18   98.633007  103.450772  105.050236  102.378005
19   84.707318   95.248543  101.236267   93.730709

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
df['log_med'] = np.log(df['media'])
print(df)

      Coluna 1    Coluna 2    Coluna 3       media   log_med
0   106.629867  100.016899   95.277034  100.641267  4.611562
1   113.147551   80.047055   99.315853   97.503486  4.579888
2    95.780304  113.708947   98.436165  102.641805  4.631245
3   109.276429  106.906236   99.772673  105.318446  4.656989
4   106.963242   82.444960   99.796424   96.401542  4.568522
5   105.495698   99.561901   88.442437   97.833345  4.583265
6    83.526094   87.494693  102.035118   91.018635  4.511064
7   107.499492  101.101605   86.150558   98.250552  4.587521
8   101.811033   89.593468  111.437107  100.947203  4.614598
9    87.386651  108.809815   98.139272   98.111913  4.586109
10   96.931054  106.666485   94.242244   99.279928  4.597943
11  109.080556  114.246522  124.313070  115.880050  4.752556
12   99.544469  109.817278  100.618753  103.326833  4.637897
13  102.235983   91.058378  106.812189  100.035516  4.605525
14   98.561228  102.097346  113.828750  104.829108  4.652331
15  101.453812   95.376650   93.591170   96.807211  4.572721
16   81.234292  105.530144   91.846456   92.870297  4.531204
17  108.838221   99.261125  108.963802  105.687716  4.660489
18   98.633007  103.450772  105.050236  102.378005  4.628672
19   84.707318   95.248543  101.236267   93.730709  4.540426