# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [9]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

In [10]:
df = pd.read_csv('demo01.csv')

In [11]:
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [14]:
print("Informações do dataframe: \n")
print(df.info())

Informações do dataframe:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB
None

In [15]:
print("\nQuantidade de valores nulos por coluna:")
print(df.isnull().sum())

Quantidade de valores nulos por coluna:
sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [16]:
print("\nDistribuição da variável resposta 'mau':")
print(df['mau'].value_counts(normalize=True))

Distribuição da variável resposta 'mau':
mau
False    0.976577
True     0.023423
Name: proportion, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [17]:
metadata = pd.DataFrame({
    'variavel': df.columns,
    'tipo_dado': df.dtypes
})

In [18]:
qtd_categorias = []

In [19]:
for col in df.columns:
    if df[col].dtype == 'object' or df[col].dtype == 'bool':
        qtd_categorias.append(df[col].nunique())
    else:
        qtd_categorias.append(None)

In [20]:
metadata['qtd_categorias'] = qtd_categorias

In [21]:
df_encoded = pd.get_dummies(df, drop_first=True)

In [22]:
metadata, df_encoded.head()

(                                    variavel tipo_dado  qtd_categorias
 sexo                                    sexo    object             2.0
 posse_de_veiculo            posse_de_veiculo    object             2.0
 posse_de_imovel              posse_de_imovel    object             2.0
 qtd_filhos                        qtd_filhos     int64             NaN
 tipo_renda                        tipo_renda    object             5.0
 educacao                            educacao    object             5.0
 estado_civil                    estado_civil    object             5.0
 tipo_residencia              tipo_residencia    object             6.0
 idade                                  idade   float64             NaN
 tempo_emprego                  tempo_emprego   float64             NaN
 possui_celular                possui_celular     int64             NaN
 possui_fone_comercial  possui_fone_comercial     int64             NaN
 possui_fone                      possui_fone     int64             NaN
 possui_email                    possui_email     int64             NaN
 qt_pessoas_residencia  qt_pessoas_residencia   float64             NaN
 mau                                      mau      bool             2.0,
    qtd_filhos      idade  tempo_emprego  possui_celular  \
 0           0  58.832877       3.106849               1
 1           0  52.356164       8.358904               1
 2           0  52.356164       8.358904               1
 3           0  46.224658       2.106849               1
 4           0  29.230137       3.021918               1

    possui_fone_comercial  possui_fone  possui_email  qt_pessoas_residencia  \
 0                      0            0             0                    2.0
 1                      0            1             1                    1.0
 2                      0            1             1                    1.0
 3                      1            1             1                    2.0
 4                      0            0             0                    2.0

      mau  sexo_M  ...  educacao_Secondary / secondary special  \
 0  False    True  ...                                    True
 1  False   False  ...                                    True
 2  False   False  ...                                    True
 3  False    True  ...                                   False
 4  False   False  ...                                   False

    estado_civil_Married  estado_civil_Separated  \
 0                  True                   False
 1                 False                   False
 2                 False                   False
 3                  True                   False
 4                  True                   False

    estado_civil_Single / not married  estado_civil_Widow  \
 0                              False               False
 1                               True               False
 2                               True               False
 3                              False               False
 4                              False               False

    tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
 0                               True                                False
 1                               True                                False
 2                               True                                False
 3                               True                                False
 4                               True                                False

    tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
 0                             False                             False
 1                             False                             False
 2                             False                             False
 3                             False                             False
 4                             False                             False

    tipo_residencia_With parents
 0                         False
 1                         False
 2                         False
 3                         False
 4                         False

 [5 rows x 29 columns])

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [23]:
categorical_vars = ['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia']

In [24]:
df_encoded = pd.get_dummies(df, columns=categorical_vars, drop_first=True)

In [25]:
final_vars = [col for col in df_encoded.columns if df_encoded[col].dtype in ['int64', 'float64', 'uint8', 'bool']]

In [26]:
df_final = df_encoded[final_vars]

In [27]:
df_final.head()

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
3,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
4,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [28]:
crosstab_email = pd.crosstab(df['possui_email'], df['mau'])
crosstab_veiculo = pd.crosstab(df['posse_de_veiculo'], df['mau'])

In [29]:
proportion_email = crosstab_email.div(crosstab_email.sum(axis=1), axis=0)
proportion_veiculo = crosstab_veiculo.div(crosstab_veiculo.sum(axis=1), axis=0)

In [31]:
print("Proporção de `mau = True` por `possui_email`:")
if True in proportion_email.columns:
    print(proportion_email[True])
else:
    print("Nenhum valor verdadeiro para 'mau' encontrado para `possui_email`.")

Proporção de `mau = True` por `possui_email`:
possui_email
0    0.023731
1    0.020270
Name: True, dtype: float64

In [32]:
print("\nProporção de `mau = True` por `posse_de_veiculo`:")
if True in proportion_veiculo.columns:
    print(proportion_veiculo[True])
else:
    print("Nenhum valor verdadeiro para 'mau' encontrado para `posse_de_veiculo`.")

Proporção de `mau = True` por `posse_de_veiculo`:
posse_de_veiculo
N    0.024268
Y    0.022095
Name: True, dtype: float64

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [34]:
df_final.to_csv('demo01_preparado.csv', index=False)

print("Base de dados salva com sucesso.")

Base de dados salva com sucesso.